.Toolbar {
   height: 12vh;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   box-sizing: border-box;
   z-index: 90;
   transition: 0.6s ease;
}

.ToolbarScrolled {
   height: 12vh;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   box-sizing: border-box;
   z-index: 90;
   transition: 0.6s ease;
}

.Toolbar nav {
   height: 100%;
}

.Logo {
   height: 100%;
}

@media (max-width: 499px) {
   .DesktopOnly {
      display: none;
   }
}
