.Logo {
   background-color: transparent;
   height: 100%;
}

.Logo img {
   height: 9vh;
   padding: 1.5vh;
}

@media (orientation: portrait) {
   .Logo img {
      height: 9vh;
      padding: 1.5vh;
   }
}
