.NavItem {
	margin: 9px 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.NavItem a {
	color: black;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
	transition: all ease 0.5s;
}

@media (min-width: 500px) {
	.NavItem {
		margin: 0;
		display: flex;
		height: 100%;
		width: auto;
		align-items: center;
	}

	.NavItem a {
		color: white;
		text-decoration: none;
		height: 100%;
		padding: 15px 9px;
		border-bottom: 3px solid transparent;
		box-sizing: border-box;
		display: block;
	}

	.NavItem a:hover,
	.NavItem a:active,
	.NavItem a.active {
		background-color: #B8860B;
		color: white;
	}
}
