.Layout {
	margin: auto;
}

.Home {
	background: url('../assets/railway.jpg') no-repeat center center;
	background-size: cover;
}

.About {
	background: url('../assets/highway.jpg') no-repeat center center;
	background-size: cover;
}

.Contact {
	background: url('../assets/golden-gate-bridge-architecture.jpg') no-repeat center
		center;
	background-size: cover;
}

.Auth {
	background: url('../assets/desk.jpg') no-repeat center
		center;
	background-size: cover;
}

.Content {
	width: 75%;
	margin: 0 auto;
	height: 100vh;
}
